@page
@model HowdyNeighbor.Pages.CrimeDataModel
@{
    ViewData["Title"] = "Crime Data";
}

<h3 class="text-center">Local Crime Data for:<br /><strong>@ViewData["searchString"]</strong></h3>

<div class="text-center">
    <h5>How would you rate these findings?</h5>
    <form method="post" asp-page-handler="SearchList">
        <select name="crimeImportance">
            <option value="0">No Rating</option>
            <option value="1">1 (Poor)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Great)</option>
        </select>&nbsp &nbsp
        <input type="submit" value="Save rating and return to checklist">
    </form>
</div>
<br /><br />
<table class="table">
    <tr>
        <th>Theft/Burglary Rate</th>
        <th>Assault Rate</th>
        <th>Sex Crime Rate</th>
        <th>Homocide Rate</th>
    </tr>
    <tr>
        <td>@CrimeDataModel.crimeList[0].TheftRate</td>
        <td>@CrimeDataModel.crimeList[0].AssaultRate</td>
        <td>@CrimeDataModel.crimeList[0].SexCrimeRate</td>
        <td>@CrimeDataModel.crimeList[0].HomocideRate</td>

    </tr>
</table>



