@page
@model HowdyNeighbor.Pages.CrimeDataModel
@{
    ViewData["Title"] = "Crime Data";
}

<h3 class="text-center">Local Crime Data for:<br /><strong>@ViewData["searchString"]</strong></h3>

<div class="text-center">
    <h5>How would you rate these findings?</h5>
    <form method="post" asp-page-handler="SearchList">
        <select name="crimeImportance">
            <option value="0">No Rating</option>
            <option value="1">1 (Poor)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Great)</option>
        </select>&nbsp &nbsp
        <input type="submit" value="Save rating and return to checklist">
    </form>
</div>
<br /><br />
<form method="post" class="my-border-top table-background-color">
    <table class="table my-border">
        <tr>
            <th class="my-border-none-left">Theft/Burglary Rate</th>
            <th class="my-border">Assault Rate</th>
            <th class="my-border">Sex Crime Rate</th>
            <th class="my-border-none-right">Homocide Rate</th>
        </tr>
        <tr>
            @for (var i = 0; i < CrimeDataModel.crimeList.Count(); i++)
            {
                <td class="my-border">@CrimeDataModel.crimeList[i].TheftRate</td>
                <td class="my-border-none-top">@CrimeDataModel.crimeList[i].AssaultRate</td>
                <td class="my-border-none-top">@CrimeDataModel.crimeList[i].SexCrimeRate</td>
                <td class="my-border">@CrimeDataModel.crimeList[i].HomocideRate</td>
            }
        </tr>
    </table>
</form>



