@page
@model HowdyNeighbor.Pages.MovingList_LoggedInModel
@{
    ViewData["Title"] = "My List";
}
@{
    Layout = "_Layout_LoggedIn";
}
<style>
    table {
        border: 1px solid slategray;
        background-color: white;
    }

    td {
        border-top: 1px solid slategray;
        border-bottom: 1px solid slategray;
        width: 360px;
    }
</style>

<p>View a moving checklist that you have saved.</p>

<form method="post" style="background-color: #CADCE6; padding: 2%; border: 1px solid slategray;">
    <h3>Today</h3>
    <table class="my-border" style="background-color:white;">
        <thead>
            <tr>
                <th>Action</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < MovingList_LoggedInModel.ChecklistTasks.Count(); i++)
            {
            <tr>
                @if (MovingList_LoggedInModel.ChecklistTasks[i].Date <= DateTime.Now)
                    {
                <td>@MovingList_LoggedInModel.ChecklistTasks[i].Action</td>
                    if (@MovingList_LoggedInModel.ChecklistTasks[i].IsComplete)
                    {
                        <td>Incomplete</td>
                    }
                    else
                    {
                        <td>Complete</td>
                    }
                    <td><span style="color: lightslategray"><i>@MovingList_LoggedInModel.ChecklistTasks[i].Date.ToShortDateString()</i></span></td>
                    }
            </tr>
            }
        </tbody>
    </table>
    <br />

    <h3>Tomorrow</h3>
    <table>
        <tbody>
            @for (var i = 0; i < MovingList_LoggedInModel.ChecklistTasks.Count(); i++)
            {
            <tr>
                @if (MovingList_LoggedInModel.ChecklistTasks[i].Date <= DateTime.Now.AddDays(1) && MovingList_LoggedInModel.ChecklistTasks[i].Date > DateTime.Now)
                {
                    <td>@MovingList_LoggedInModel.ChecklistTasks[i].Action</td>
                    if (@MovingList_LoggedInModel.ChecklistTasks[i].IsComplete)
                    {
                        <td>Incomplete</td>
                    }
                    else
                    {
                        <td>Complete</td>
                    }
                    <td><span style="color: lightslategray"><i>@MovingList_LoggedInModel.ChecklistTasks[i].Date.ToShortDateString()</i></span></td>
                }
            </tr>
            }
        </tbody>
    </table>
    <br />

    <h3>Later this week</h3>
    <table>
        <tbody>
            @for (var i = 0; i < MovingList_LoggedInModel.ChecklistTasks.Count(); i++)
            {
            <tr>
                @if (MovingList_LoggedInModel.ChecklistTasks[i].Date <= DateTime.Now.AddDays(7) && MovingList_LoggedInModel.ChecklistTasks[i].Date > DateTime.Now.AddDays(1))
                {
                    <td>@MovingList_LoggedInModel.ChecklistTasks[i].Action</td>
                    if (@MovingList_LoggedInModel.ChecklistTasks[i].IsComplete)
                    {
                        <td>Incomplete</td>
                    }
                    else
                    {
                        <td>Complete</td>
                    }
                    <td><span style="color: lightslategray"><i>@MovingList_LoggedInModel.ChecklistTasks[i].Date.ToShortDateString()</i></span></td>
                }
            </tr>
            }
        </tbody>
    </table>
    <br />

    <h3>Later this month</h3>
    <table>
        <tbody>
            @for (var i = 0; i < MovingList_LoggedInModel.ChecklistTasks.Count(); i++)
            {
            <tr>
                @if (MovingList_LoggedInModel.ChecklistTasks[i].Date > DateTime.Now.AddDays(7))
                {
                    <td>@MovingList_LoggedInModel.ChecklistTasks[i].Action</td>
                    if (@MovingList_LoggedInModel.ChecklistTasks[i].IsComplete)
                    {
                        <td>Incomplete</td>
                    }
                    else
                    {
                        <td>Complete</td>
                    }
                    <td><span style="color: lightslategray"><i>@MovingList_LoggedInModel.ChecklistTasks[i].Date.ToShortDateString()</i></span></td>
                }
            </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <strong>Add a pre-made task to your checklist below:</strong><br />
    <select id="premadeTasks" name="premadeTasks" multiple style="width: 100%; height: 180px;">
        <optgroup label="Shipping">
            <option value="Collect boxes for household items">Collect boxes for household items</option>
            <option value="Contact moving company">Contact moving company</option>
        </optgroup>
        <optgroup label="Pets">
            <option value="Contact local veterinarian's office">Contact local veterinarian's office</option>
            <option value="Research local laws / homeowner's association policies for pets">Research local laws / homeowner's association policies for pets</option>
            <option value="Transfer pet medications to new veterinarian's office">Transfer pet medications to new veterinarian's office</option>
            <option value="Look into local dog parks, pet stores, etc.">Look into local dog parks, pet stores, etc.</option>
        </optgroup>
        <optgroup label="Voting">
            <option value="Update voter registration address">Update voter registration address</option>
            <option value="Research residency requirements for voting">Research residency requirements for voting</option>
        </optgroup>
        <optgroup label="Health">
            <option value="Transfer perscriptions to new pharmacy">Transfer perscriptions to new pharmacy</option>
            <option value="Contact local doctor's office">Contact local doctor's office</option>
            <option value="Contact local dentist's office">Contact local dentist's office</option>
        </optgroup>
        <optgroup label="Neighborhood">
            <option value="Contact homeowner's association">Contact homeowner's association</option>
            <option value="Contact neighbors">Contact neighbors</option>
            <option value="Contact local newspaper delivery service">Contact local newspaper delivery service</option>
        </optgroup>
        <optgroup label="School">
            <option value="Contact local school district">Contact local school district</option>
        </optgroup>
    </select>
    <br />
    <br />
    <strong>Add a custom task:</strong><br /><input type="text" id="customTask" name="customTask" placeholder="Enter Task" />
    <br />
    <br />
    <strong>Enter date and time for task to be completed:</strong><br />(Will default to current date and time if left blank)<br /><input class="form-control" type="datetime-local" id="taskDate" name="taskDate" />
    <br />
    <input type="submit" />
    <button onclick="myFunction()" style="float:right;" asp-page="/MovingList_LoggedIn">Save Checklist</button>
</form>

<script>
    function myFunction() {
        if (alert('Your checklist has successfully been saved')) { }
        else window.location.reload();
    }
</script>