@page
@using Microsoft.AspNetCore.Identity
@using HowdyNeighbor.Areas.Identity.Data
@inject SignInManager<HowdyNeighborUser> SignInManager
@model HowdyNeighbor.Pages.MovingListModel
@{
    ViewData["Title"] = "Moving Checklist";
}
<style>
    table {
        border: 1px solid slategray;
        background-color: #ECFCFD;
        table-layout: auto;
    }

    tr {
        width: 960px;
    }

    td {
        border-top: 1px solid slategray;
        border-bottom: 1px solid slategray;
        width: 240px;
    }
</style>

<h2>@ViewData["Title"]</h2>

<p>View a moving checklist that you have saved. Select pre-defined tasks from the list, or add custom tasks.</p>

<form method="post" style="background-color: #CADCE6; padding: 2%; border: 1px solid slategray;">
    <h3>Today</h3>
    <table class="my-border" style="background-color:#ECFCFD;">
        <thead>
            <tr>
                <th>Action</th>
                <th>Status</th>
                <th>Date</th>
                <th>Completed?</th>
                <th>Remove from List</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < MovingListModel.ChecklistTasks.Count(); i++)
            {
                <tr>
                    @if (MovingListModel.ChecklistTasks[i].Date <= DateTime.Now && !MovingListModel.IDs.Contains(MovingListModel.ChecklistTasks[i].Id))
                    {
                        <td>@MovingListModel.ChecklistTasks[i].Action</td>
                        if (@MovingListModel.ChecklistTasks[i].IsComplete)
                        {
                            <td>Complete</td>
                        }
                        else
                        {
                            <td>Incomplete</td>
                        }
                        <td><span style="color: lightslategray"><i>@MovingListModel.ChecklistTasks[i].Date.ToShortDateString()</i></span></td>
                        <td><input type="checkbox" /></td>
                        <td><button>Remove</button></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />

    <h3>Tomorrow</h3>
    <table>
        <tbody>
            @for (var i = 0; i < MovingListModel.ChecklistTasks.Count(); i++)
            {
                <tr>
                    @if (MovingListModel.ChecklistTasks[i].Date <= DateTime.Now.AddDays(1) && MovingListModel.ChecklistTasks[i].Date > DateTime.Now)
                    {
                        <td>@MovingListModel.ChecklistTasks[i].Action</td>
                        if (@MovingListModel.ChecklistTasks[i].IsComplete)
                        {
                            <td>Complete</td>
                        }
                        else
                        {
                            <td>Incomplete</td>
                        }
                        <td><span style="color: lightslategray"><i>@MovingListModel.ChecklistTasks[i].Date.ToShortDateString()</i></span></td>
                        <td><input type="checkbox" /></td>
                        <td><button>Remove</button></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />

    <h3>Later this week</h3>
    <table>
        <tbody>
            @for (var i = 0; i < MovingListModel.ChecklistTasks.Count(); i++)
            {
                <tr>
                    @if (MovingListModel.ChecklistTasks[i].Date <= DateTime.Now.AddDays(7) && MovingListModel.ChecklistTasks[i].Date > DateTime.Now.AddDays(1))
                    {
                        <td>@MovingListModel.ChecklistTasks[i].Action</td>
                        if (@MovingListModel.ChecklistTasks[i].IsComplete)
                        {
                            <td>Complete</td>
                        }
                        else
                        {
                            <td>Incomplete</td>
                        }
                        <td><span style="color: lightslategray"><i>@MovingListModel.ChecklistTasks[i].Date.ToShortDateString()</i></span></td>
                        <td><input type="checkbox" /></td>
                        <td><button>Remove</button></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />

    <h3>Later this month</h3>
    <table>
        <tbody>
            @for (var i = 0; i < MovingListModel.ChecklistTasks.Count(); i++)
            {
                <tr>
                    @if (MovingListModel.ChecklistTasks[i].Date > DateTime.Now.AddDays(7))
                    {
                        <td>@MovingListModel.ChecklistTasks[i].Action</td>
                        if (@MovingListModel.ChecklistTasks[i].IsComplete)
                        {
                            <td>Complete</td>
                        }
                        else
                        {
                            <td>Incomplete</td>
                        }
                        <td><span style="color: lightslategray"><i>@MovingListModel.ChecklistTasks[i].Date.ToShortDateString()</i></span></td>
                        <td><input type="checkbox" /></td>
                        <td><button>Remove</button></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />

    <h3>Later this year</h3>
    <br />
    <br />
    <strong>Add a pre-made task to your checklist below:</strong><br />
    <select id="premadeTasks" name="premadeTasks" multiple style="width: 100%; height: 180px; background-color:#ECFCFD !important;">
        <optgroup label="Shipping">
            <option value="Collect boxes for household items">Collect boxes for household items</option>
            <option value="Contact moving company">Contact moving company</option>
        </optgroup>
        <optgroup label="Pets">
            <option value="Contact local veterinarian's office">Contact local veterinarian's office</option>
            <option value="Research local laws / homeowner's association policies for pets">Research local laws / homeowner's association policies for pets</option>
            <option value="Transfer pet medications to new veterinarian's office">Transfer pet medications to new veterinarian's office</option>
            <option value="Look into local dog parks, pet stores, etc.">Look into local dog parks, pet stores, etc.</option>
        </optgroup>
        <optgroup label="Voting">
            <option value="Update voter registration address">Update voter registration address</option>
            <option value="Research residency requirements for voting">Research residency requirements for voting</option>
        </optgroup>
        <optgroup label="Health">
            <option value="Transfer perscriptions to new pharmacy">Transfer perscriptions to new pharmacy</option>
            <option value="Contact local doctor's office">Contact local doctor's office</option>
            <option value="Contact local dentist's office">Contact local dentist's office</option>
        </optgroup>
        <optgroup label="Neighborhood">
            <option value="Contact homeowner's association">Contact homeowner's association</option>
            <option value="Contact neighbors">Contact neighbors</option>
            <option value="Contact local newspaper delivery service">Contact local newspaper delivery service</option>
        </optgroup>
        <optgroup label="School">
            <option value="Contact local school district">Contact local school district</option>
        </optgroup>
    </select>
    <br />
    <br />
    <strong>Add a custom task:</strong><br /><input type="text" id="customTask" name="customTask" placeholder="Enter Task" style="background-color:#ECFCFD;" />
    <br />
    <br />
    <strong>Enter date and time for task to be completed:</strong><br />(Will default to current date and time if left blank)<br /><input class="form-control" type="datetime-local" id="taskDate" name="taskDate" style="background-color:#ECFCFD;" />
    <br />
    <button type="submit" class="btn btn-primary">Submit Task</button>
    @if (SignInManager.IsSignedIn(User))
    {
        <button style="float:right;" asp-page="/MovingList" id="saveMovingListButton" class="btn btn-primary">Save Checklist</button>
    }
</form>
