@page
@model SavedChecklistModel
@{
    ViewData["Title"] = "Saved Checklists";
}
@{
    Layout = "_Layout_LoggedIn";
}
<style>
    table {
        border: 1px solid slategray;
        background-color: white;
    }

    td {
        border-top: 1px solid slategray;
        border-bottom: 1px solid slategray;
        width: 360px;
    }
</style>
<div class="container">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-sm-6">
            <h4 class="text-center" style="text-decoration:underline">Home Search Checklists</h4>
            <a asp-page="/SearchList_LoggedIn" style="color:black !important;">
                <form method="post" class="my-border table-background-color" style="padding: 2%;">
                    <div class="text-center"><strong>3774 Merwin 10 Mile Road Amelia Ohio</strong></div>
                    <table class="table my-border table-background-color">
                        <tr>
                            <th class="my-border">Completed</th>
                            <th class="my-border-bottom">Task</th>
                            <th class="my-border">My Ranking</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked />
                            </td>
                            <td>Local School District Information</td>
                            <td>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked />
                            </td>
                            <td>Local Crime Data</td>
                            <td>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked />
                            </td>
                            <td>Local Traffic Density</td>
                            <td>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked />
                            </td>
                            <td>Area Age Demographics</td>
                            <td>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </td>
                        </tr>
                    </table>
                </form>
            </a>
        </div>
        <div class="col-sm-6">

            <h4 class="text-center" style="text-decoration:underline">Move-In Checklists</h4>
            <a asp-page="/MovingList_LoggedIn" style="color:black !important;">
                <form method="post" class="my-border table-background-color" style="padding: 2%;">
                    <div class="text-center">
                        <strong>
                            Checklist last saved on @DateTime.Now.ToLocalTime()
                        </strong>
                    </div>
                    <h3>Today</h3>
                    <table class="my-border" style="background-color:white;">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Status</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < MovingList_LoggedInModel.ChecklistTasks.Count(); i++)
                            {
                            <tr>
                                @if (MovingList_LoggedInModel.ChecklistTasks[i].Date <= DateTime.Now)
                                {
                                    <td>@MovingList_LoggedInModel.ChecklistTasks[i].Action</td>
                                    if (@MovingList_LoggedInModel.ChecklistTasks[i].IsComplete)
                                    {
                                        <td>Incomplete</td>
                                    }
                                    else
                                    {
                                        <td>Complete</td>
                                    }
                                    <td><span style="color: lightslategray"><i>@MovingList_LoggedInModel.ChecklistTasks[i].Date.ToShortDateString()</i></span></td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                    <br />

                    <h3>Tomorrow</h3>
                    <table>
                        <tbody>
                            @for (var i = 0; i < MovingList_LoggedInModel.ChecklistTasks.Count(); i++)
                            {
                            <tr>
                                @if (MovingList_LoggedInModel.ChecklistTasks[i].Date <= DateTime.Now.AddDays(1) && MovingList_LoggedInModel.ChecklistTasks[i].Date > DateTime.Now)
                                {
                                    <td>@MovingList_LoggedInModel.ChecklistTasks[i].Action</td>
                                    if (@MovingList_LoggedInModel.ChecklistTasks[i].IsComplete)
                                    {
                                        <td>Incomplete</td>
                                    }
                                    else
                                    {
                                        <td>Complete</td>
                                    }
                                    <td><span style="color: lightslategray"><i>@MovingList_LoggedInModel.ChecklistTasks[i].Date.ToShortDateString()</i></span></td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                    <br />

                    <h3>Later this week</h3>
                    <table>
                        <tbody>
                            @for (var i = 0; i < MovingList_LoggedInModel.ChecklistTasks.Count(); i++)
                            {
                            <tr>
                                @if (MovingList_LoggedInModel.ChecklistTasks[i].Date <= DateTime.Now.AddDays(7) && MovingList_LoggedInModel.ChecklistTasks[i].Date > DateTime.Now.AddDays(1))
                                {
                                    <td>@MovingList_LoggedInModel.ChecklistTasks[i].Action</td>
                                    if (@MovingList_LoggedInModel.ChecklistTasks[i].IsComplete)
                                    {
                                        <td>Incomplete</td>
                                    }
                                    else
                                    {
                                        <td>Complete</td>
                                    }
                                    <td><span style="color: lightslategray"><i>@MovingList_LoggedInModel.ChecklistTasks[i].Date.ToShortDateString()</i></span></td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                    <br />

                    <h3>Later this month</h3>
                    <table>
                        <tbody>
                            @for (var i = 0; i < MovingList_LoggedInModel.ChecklistTasks.Count(); i++)
                            {
                            <tr>
                                @if (MovingList_LoggedInModel.ChecklistTasks[i].Date > DateTime.Now.AddDays(7))
                                {
                                    <td>@MovingList_LoggedInModel.ChecklistTasks[i].Action</td>
                                    if (@MovingList_LoggedInModel.ChecklistTasks[i].IsComplete)
                                    {
                                        <td>Incomplete</td>
                                    }
                                    else
                                    {
                                        <td>Complete</td>
                                    }
                                    <td><span style="color: lightslategray"><i>@MovingList_LoggedInModel.ChecklistTasks[i].Date.ToShortDateString()</i></span></td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </a>
        </div>
    </div>
</div>
